<div class="container">
  <div class="text-center p-3 m-3">
    <h1>Contact Us</h1>
    <p>Keep in touch !</p>
    <img class="img-fluid img-goss" src="https://cranmerpreschool-aslockton.co.uk/wp-content/uploads/2019/02/email-us.png">
    <h2>To blablabla@gmail.com</h2>
  </div>
</div>