<h1>GREAT TEAM EVER</h1>
<p>Want to progress in your THP formation ?</p>
<img src="./app/assets/images/team.jpg">
<p>Who is in the Game ?</p>
<p>Maxime aka ...lien github ... discord </p>
<p>Coline aka discord ...lien github ...  </p>
<p>Arthur aka discord ...lien github ...  </p>
<p>Clémentine aka discord ...lien github ...  </p>
<p>Flavien aka discord ...lien github ...  </p>
<p>Marie aka discord ...lien github ...  </p>
<p>Aimery aka discord ...lien github ...  </p>
<p>Martin aka discord ...lien github ...  </p>
<p>Vanak aka discord ...lien github ...  </p>